@mixin header-link {
    color: #FFF;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px 30px;
    border-radius: 6px;
    background: #0082F4;
    text-decoration: none;
    max-width: 161px;
    width: 100%;

    &:hover {
        opacity: 0.7;
    }
}

@mixin nav-blok {
    flex-direction: column;
    text-align: center;
    display: block;
    max-width: 300px;
    width: 100%;
    height: 300px;
    line-height: normal;
    border: 2px solid rgba(119, 235, 243, 0.5);
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(117, 135, 137, 0.49) 0%, #97aba76e 55.94%);
    animation: nav__blok 1s ease;
    position: absolute;
    margin-top: 450px;
    margin-left: 300px;
}

@mixin hero-p {
    color: #0080FD;
    font-family: "Roboto";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

@mixin hero-heading {
    color: #000;
    font-family: "Roboto";
    font-size: 60.55px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    max-width: 496px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}