.best {

    .best__info {
        display: flex;
    }

    .best__link {
        margin-left: 270px;
        margin-top: 170px;
    }

    .best__h3 {
        color: #000;
        font-family: "Roboto";
        font-size: 48.44px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-top: 160px;
    }

    .best__span {
        width: 65.405px;
        height: 100%;
        background-color: var(--color-kok);
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        display: block;
    }
}