.centre {

    .centre__info {
        display: flex;
        align-items: center;
        padding-top: 150px;
    }

    .centre__div {
        padding-left: 140px;
    }

    .centre__p {
        color: #0082F4;
        font-family: "Roboto";
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2.5px;
        text-transform: uppercase;
    }

    .centre__h2 {
        color: #000;
        font-family: "Roboto";
        font-size: 49px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 20px;
        max-width: 496px;
        width: 100%;
    }

    .centre__text {
        color: #000;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 30px;
    }

    .centre__link {
        color: #FFF;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 20px 39px;
        border-radius: 10px;
        background: #0082F4;

        
        &:hover {
            opacity: 0.7;
        }
    }
}

@media only screen and (max-width: 990px) {

    .centre__info {
        flex-direction: column;
    }

    .centre__div {
        text-align: center;
        padding-right: 80px;
        padding-bottom: 120px;
        order: -1;
    }

    .centre__img {
        text-align: center;
        order: 1;
    }

    .centre__text {
        padding: 0px 100px;
    }
}