.header {

    .header__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        list-style-type: none;
        display: flex;
        gap: 40px;
    }

    .nav__link {
        color: #000;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;

        &:hover {
            margin-bottom: 35px;
            color: var(--color-kok);
            text-decoration: underline;
        }
    }

    .header__link {
        color: #FFF;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 14px 30px;
        border-radius: 6px;
        background: #0082F4;
        text-decoration: none;
        max-width: 161px;
        width: 100%;
    
        &:hover {
            opacity: 0.7;
        }
    }


    .line {
        max-width: 1192px;
        width: 100%;
        opacity: 0.1;
        color: #0283F5;
    }

    .header__btn {
        border: none;
        background: none;
        display: none;
    }

    .btn__menu {
        display: none;
    }


    .btn__exit {
        display: none;
    }

    @media only screen and (max-width: 700px) {

        .nav {
            display: none;
        }

        .header__img {
            display: flex;
        }

        .header__btn {
            display: flex;
            gap: 10px;
            align-items: center;
        }


        .menu__exit {
            display: none;
        }

        .exit__menu {
            display: block;
        }

        .nav__blok {
            flex-direction: column;
            text-align: center;
            display: block;
            max-width: 300px;
            width: 100%;
            height: 300px;
            line-height: normal;
            border: 2px solid rgba(119, 235, 243, 0.5);
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(117, 135, 137, 0.49) 0%, #97aba76e 55.94%);
            animation: nav__blok 1s ease;
            position: absolute;
            margin-top: 450px;
            margin-left: 300px;
        }

        .nav__blok>li {
            padding: 8px 0px;
            text-align: center;
        }

        @keyframes nav__blok {

            from {
                transform: translateX(-80%);
                opacity: 0;
            }

            to {
                transform: translateY(0.5%);
                opacity: 1;
            }
        }

        .nav__link {
            font-size: 26px;
            line-height: 50px;

            &:hover {
                color: black;
            }
        }

        .btn__menu {
            display: none;
        }

        .btn__exit {
            display: block;
        }
    }

    .btn__info {
        display: flex;
        gap: 10px;
    }
}