.hero {

    .hero__info {
        display: flex;
        align-items: center;
        text-align: start;
    }

    .hero__p {
        color: #0080FD;
        font-family: "Roboto";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }

    .hero__heading {
        color: #000;
        font-family: "Roboto";
        font-size: 60.55px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        max-width: 496px;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .hero__text {
        color: #000;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 436px;
        width: 100%;
    }

    .hero__link {
        color: #FFF;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 14px 30px;
        border-radius: 10px;
        background: var(--color-kok);
        text-decoration: none;
        margin-top: 30px;
        margin-right: 30px;
        margin-left: -80px;

        &:hover {
            opacity: 0.7;
        }
    }

    .hero__btn1 {
        display: flex;
        margin-left: 80px;
    }

    .hero__btn {
        display: flex;
        align-items: center;
        margin-left: 30px;
        border: none;
        background: none;
        margin-top: 30px;
        margin-left: -0.5px;
        text-align: center;

        .hero__btn__text {
            color: #000;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-left: 10px;
        }
    }

    .hero__img {
        margin-left: 150px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 990px) {

    .hero__info {
        flex-direction: column;
    }

    .hero__info2 {
        text-align: center;
        padding-top: 80px;
    }

    .hero__img {
        margin: 0;
        padding: 0;
        margin-right: 100px;
        max-width: 480px;
        width: 100%;
        height: 480px;
    }
}

@media only screen and (max-width: 700px) {

    .hero__img {
        max-width: 300px;
        width: 100%;
        height: 300px;
    }

    .hero__p {
        font-size: 15px;
    }

    .hero__heading {
        color: #000;
        font-family: "Roboto";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        max-width: 531px;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 550px) {

    .hero__info {
        text-align: center;
    }
}